.bmr-container {
  display: flex;
}

.bmr-column {
  &:nth-child(1) {
    background: linear-gradient($js-green1, $js-green2);
    text-align: center;
    height: 100vh;
    overflow: hidden;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      color: white;
      font-family: 'Open Sans';
      font-weight: bold;
      font-size: 22px;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 40px;
    }

    img {
      width: 60%;
      margin: 0 auto;
    }
  }

  &:nth-child(2) {
    text-align: center;
    padding: 60px 70px;
    flex: 3;
  }
}

.bmr-form-row {
  display: flex;
  justify-content: space-between;
}

.bmr-form-group {
  margin-bottom: 50px;

  &.have-unit {
    display: flex;
    align-items: center;
  }

  label {
    font-family: 'Open Sans';
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    color: $js-grey;
    font-size: 12px;
    text-align: left;
  }

  input {
    border: none;
    border-bottom: 2px solid $js-grey;
    font-family: 'Open Sans';
    font-weight: 400;
    padding: 10px 0;
    font-size: 16px;
    color: black;
  }
}

.bmr-form-group-label {
  display: block;
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: 500;
  color: $js-green1;
  margin-left: 14px;
}

.bmr-options-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bmr-option-button {
  margin-top: 10px;
  flex: 1;
  display: block;

  input {
    display: none;
  }

  span {
    display: block;
    font-family: 'Open Sans';
    background: transparent;
    border: 1px solid $js-green1;
    padding: 18px 36px;
    font-size: 14px;
    color: $js-green1;
    cursor: pointer;
    transition: 0.2s all;

    &:hover {
      background: color-opacity($js-green1, 0.5);
      border: 1px solid color-opacity($js-green1, 0.5);
      color: white;
    }
  }

  &.active span {
    background: $js-green1;
    border: 1px solid $js-green1;
    color: white;
  }
}
