doctype html
head
  meta(charset="utf-8")
  link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet")
  link(rel="stylesheet", href="assets/stylesheets/main.css")
  title Calorie Intake Calculator
body
  .bmr-container
    .bmr-column
      h1 Get your recommended calorie intake now!
      img(src="assets/images/hero.svg")
    .bmr-column
      form.bmr-form(method="post" action="/")
        .bmr-form-row
          .bmr-form-group(style="flex: 2")
            .bmr-form-group-main
              label Email
              input(type="email" name="email")
          .bmr-form-group(style="flex: 1")
            .bmr-form-group-main
              label Age
              input(type="number" name="age")
        .bmr-form-group
          label GENDER
          .bmr-options-row
            .bmr-option-button.active
              span Male
              input(type="radio" value="male")
            .bmr-option-button
              span Female
              input(type="radio" value="female")
        .bmr-form-row
          .bmr-form-group.have-unit
            .bmr-form-group-main
              label WEIGHT
              input(type="number" name="weight")
            span.bmr-form-group-label KG
          .bmr-form-group.have-unit
            .bmr-form-group-main
              label HEIGHT
              input(type="number" name="weight")
            span.bmr-form-group-label cm
        .bmr-form-group
          label Goal
          .bmr-options-row
            .bmr-option-button.active
              span Build Muscle
              input(type="radio" value="build-muscle")
            .bmr-option-button
              span Lose Fat
              input(type="radio" value="lose-fat")
            .bmr-option-button
              span Maintainence
              input(type="radio" value="maintainence")
        .bmr-form-group
          .bmr-label-row
            label Activity Level
            span What is this?
          .bmr-options-row
            .bmr-option-button.active
              span 
                | Lightly 
                br
                | Active
              input(type="radio" value="lightly-active")
            .bmr-option-button
              span
                | Moderately 
                br
                | Active
              input(type="radio" value="moderately-active")
            .bmr-option-button
              span
                | Very
                br
                | Active
              input(type="radio" value="very-active")
            .bmr-option-button
              span
                | Extra
                br
                | Active
              input(type="radio" value="extra-active")
        input.bmr-submit(type="submit" value="Submit")
          
