doctype html
head
  meta(charset="utf-8")
  title Calorie Intake Calculator
body
  .bmr-container
    .bmr-column
      h1 Get your recommended calorie intake now!
      img(src="assets/images/hero.svg")
    .bmr-column
